[2016-01-15 00:32] prankymat opened #1 "[Feature] Download code with extension"
When downloading the source from hackIDE, it should have the same extension according to the language in the IDE.

[2016-01-15 09:12] #1 closed

[2016-01-15 09:16] prankymat commented on #1
:+1: for the simplicity of this IDE :smile: great work!! :)

[2016-01-15 09:17] sahildua2305 commented on #1
Thanks @prankymat :)
Share it among your friends, they may like it too ;)

[2016-01-15 18:12] prankymat opened #4 "Master is not live on hackide.herokuapp.com"
Just noticed that the latest commits on master are not showing up on the main site of hackIDE. http://hackide.herokuapp.com

[2016-01-15 18:15] sahildua2305 commented on #4
Yes. I was unable to push changes to heroku in time. Internet on my machine
is down for now. I'll try pushing it in a day's time.

Sahil
http://sahildua.com
On 15-Jan-2016 11:42 pm, "Matthias Wo" <notifications@github.com> wrote:

[2016-01-15 18:33] prankymat commented on #4
:+1: will you consider linking master to herokuapp in some ways such that changes will be automatic in future?

[2016-01-15 18:43] sahildua2305 commented on #4
I will look for ways to do that. Let me know if you find a way.
Also in some cases it's better to keep the two streams different. Just like I have to avoid pushing client secret here.

[2016-01-15 19:03] sahildua2305 opened #5 "In case of Time limit exceeded, show the truncated output in results"
As of now it just shows error in case of TLE. Better to show truncated output.

[2016-01-16 08:07] prankymat commented on #4
@sahildua2305 turns out there is a way to manage private API secrets within Heroku:
https://devcenter.heroku.com/articles/config-vars

It should be fairly straight-forward to use.
[code]

This way the repo does not need to expose the private keys and will be safe to auto deploy to Heroku.

Hope this is useful! Look forward to the future!

[2016-01-16 08:16] prankymat opened #6 "Exposing information in /admin"
Error message with lots of information when accessing http://hackide.herokuapp.com/admin/.

Probably should set ```DEBUG = False``` in the Django settings file (at least on the master branch)?

[2016-01-16 08:16] prankymat commented on #6
Similar situation when accessing http://hackide.herokuapp.com/accounts/profile/

[2016-01-16 10:15] sahildua2305 commented on #6
@prankymat Do you have the IDE running on your local machine? Can you check `DEBUG = False` thing on local? Not working for me.

[2016-01-16 10:43] sahildua2305 commented on #4
Thanks @prankymat. I have made the change. Updated the stream on the site hackIDE.
Please check once that all of the changes are reflecting there. Also it will be in sync with the master branch from now on. :)

[2016-01-16 17:36] prankymat commented on #4
Yes! Changes are now live! :+1: for auto deploying the repo to Heroku. Closing this issue now.

[2016-01-16 17:36] #4 closed

[2016-01-16 17:37] prankymat commented on #6
Same for me when I tried to set ```DEBUG = False```. I've tried to set ```ALLOWED_HOSTS = ['localhost']``` and many other variations but still no luck.

[2016-01-16 17:38] sahildua2305 commented on #6
Yeah, that's weird! Know someone who knows Django well?

[2016-01-16 19:56] prankymat commented on #6
@sahildua2305 I believe it'd be a problem to serve static files from django when DEBUG = False
http://stackoverflow.com/questions/5836674/why-does-debug-false-setting-make-my-django-static-files-access-fail

[2016-01-16 20:06] sahildua2305 commented on #6
@prankymat That's why I am using whitenoise in the app. Still not working. Let me know if you try something else and are able to get it working in prod mode.

[2016-01-16 20:33] prankymat commented on #6
@sahildua2305 finally figured out that we should call ```python manage.py collectstatic``` before serving the server up.

[2016-01-16 20:34] sahildua2305 commented on #6
@prankymat Looks good! So basically I need to run the `python manage.py collectstatic command` on the heroku server? Not sure about this thing.

[2016-01-16 20:37] prankymat commented on #6
@sahildua2305 I believe so. :grin:

http://stackoverflow.com/questions/14253978/heroku-performing-collectstatic-as-expected-on-deployment

[2016-01-16 20:46] sahildua2305 commented on #6
Tested. It works now with `DEBUG = False` but it is unable to serve ace editor js files. Checking it. Test it on your local.

[2016-01-16 21:10] prankymat commented on #6
I believe I have it working on my side :eyes:

<img src="http://i.imgur.com/f45iWvA.png" width=300>

[2016-01-16 21:13] sahildua2305 commented on #6
Did you run `python manage.py collectstatic` and it's running even after that? @prankymat

[2016-01-16 21:18] prankymat commented on #6
Yes @sahildua2305. After I executed the command above, I have a new directory namely ```staticfiles/```

<img src="http://i.imgur.com/69WTLoU.png">

Do you have it on your side too?

[2016-01-16 21:26] sahildua2305 commented on #6
@prankymat Yes. I get that and all other files are working except the ones which are being included from js in custom.js in line number 34 and 35. Don't you get such an error on your side?

![selection_052](https://cloud.githubusercontent.com/assets/5206277/12374587/c9d3e81a-bcc5-11e5-8a85-dd9155dda2f6.png)

[2016-01-17 15:09] jinankjain opened #8 "Make request async to hackerearth api so that could achieve better concurrency"

[2016-01-17 18:56] prankymat commented on #6
@sahildua2305 Doesn't seemed to be a problem to me.

Perhaps try clearing your browser's cache?

![screenshot from 2016-01-17 10 55 33](https://cloud.githubusercontent.com/assets/2998111/12379153/dadca078-bd08-11e5-9a93-2d411c080775.png)

[2016-01-17 19:13] prankymat commented on #8
Since sources are compiled file by file now, I don't think there is a need to use HackerEarth asynchronously. In my opinion, the current method (using sync ajax calls) is enough to handle the usage.

[2016-01-17 19:24] prankymat commented on #5
Are there any ways to get the output from HackerEarth if the operation has timeouted?

[2016-01-17 20:11] prankymat commented on #6
I found that ```ace.config.set("basePath", "/static/");``` can set the base path for AceEditor to find its file. Any ideas how to get the path from whitenoise though?

[2016-01-17 20:28] prankymat commented on #6
Found that the path in ```custom.js``` can be ```/static/hackIDE/ace-builds/src/theme-twlight.js``` (i.e. without the version number).

Will make a pull request to reflect changes made.

[2016-01-18 11:20] sahildua2305 commented on #6
Thanks for your awesome contributions @prankymat. I have deployed the hackIDE with `debug=False` now. Please confirm once that everything is working so that I can close this issue :D

[2016-01-18 11:22] sahildua2305 commented on #8
@jinankjain I agree that making requests async will help in achieving better concurrency for the hackIDE.
Though I am yet to find a way to generate submission ID every time a request is made so as to keep track of responses from HackerEarth API. Please feel free to contribute if you find a way.

[2016-01-18 11:25] sahildua2305 opened #12 "Handle MLE error in a better way"
Memory Limit Exceeded should have proper error message.

[2016-01-18 11:27] #5 closed

[2016-01-18 13:50] jinankjain commented on #8
@sahildua2305 Every time when you do async function call to hackerearth api you will receive an code_id use that as submission ID and store that in DB to keep track of submission id.

[2016-01-18 18:10] prankymat commented on #6
@sahildua2305 everything looks fine on my side! Glad to see the changes deployed to the live site. Cheers! Closing this issue now.

[2016-01-18 18:10] #6 closed

[2016-01-18 18:11] sahildua2305 commented on #6
Awesome! @prankymat

[2016-01-19 13:26] sahildua2305 opened #13 "Implement save code feature"

[2016-01-19 19:49] sahildua2305 commented on #13
@prankymat Have you ever used mongodb with Django on Heroku?

[2016-01-19 19:56] prankymat commented on #13
Not with django but I think this will help :)

http://django-mongodb-engine.readthedocs.org/en/latest/tutorial.html

[2016-01-19 19:59] sahildua2305 commented on #13
The problem isn't using mongoDB with Django. It's the deployment that's an issue. Heroku doesn't support adding mongoDB without adding a credit card in account.

[2016-01-22 07:25] prankymat opened #14 "Boilerplate when hackIDE launches"
Include a boilerplate template in the code editor when hackIDE launches. For example in C++:

[code]

This will greatly ease the use for users who just want to short codes quickly.

[2016-02-02 20:42] rhnvrm commented on #14
I'm working on this. Will update soon.

[2016-02-02 20:47] sahildua2305 commented on #14
Ok @rhnvrm I'm marking it wip (work in progress). Looking forward to your contribution :)

[2016-02-02 20:49] rhnvrm commented on #14
:+1:

[2016-02-03 20:13] prankymat commented on #14
:+1:

[2016-02-21 05:15] prankymat commented on #14
Big :+1: for adding this feature! However it seemed that this feature is not showing up live on heroku even it's merged to master. @sahildua2305

[2016-02-21 17:29] sahildua2305 commented on #14
It's live now. Had a couple of bugs. Removed them. @prankymat

[2016-02-21 17:30] #14 closed

[2016-02-21 17:30] #12 closed

[2016-02-21 17:34] rhnvrm commented on #14
:+1:

[2016-04-25 04:52] prankymat opened #17 "Improve boiler template for Java"
Instead of just saying ```//begin writing below``` it's better to include a boiler template just like other langs.

[code]

will be a good one :)

[2016-04-25 05:06] sahildua2305 commented on #17
Can you create a PR? It's already available for most of the languages already. @prankymat

[2016-04-25 05:09] prankymat commented on #17
@sahildua2305 Yes i'm working on it now :) I'm having trouble starting the server, what command should I use to run the server again?

[2016-04-25 05:19] prankymat commented on #17
@sahildua2305 I've fixed the problem by using this:

``` HACKIDE_DEBUG=true python manage.py runserver ```

Will include this in the readme later in a PR.

[2016-04-25 19:30] #17 closed

[2016-05-17 02:08] hsyoon702 opened #20 "Hi, i'm interested of your code. But it isn't work"
But it isn't work your http://hackide.herokuapp.com/ site.

Compile and Run isn't work.

Please tell why this happen occured, and give me answer.

Thank ypu!

[2016-05-17 02:12] prankymat commented on #20
@hsyoon702 thanks for your report. I've just ran a test on the live site. Here is my result.
![image](https://cloud.githubusercontent.com/assets/2998111/15309256/1e88b808-1b9a-11e6-8395-d035e0691381.png)

[2016-05-17 02:13] hsyoon702 commented on #20
What is the problem? I want to use this program so much!
Can you FIix it? Thanks.

[2016-05-17 02:16] hsyoon702 commented on #20
And I've downloaded this project, It isn't work either.
help me ㅠ.ㅠ

[2016-05-17 02:17] prankymat commented on #20
It's more likely to be a server side error @sahildua2305 would you mind to have a look?

[2016-05-17 02:17] sahildua2305 commented on #20
Hi @hsyoon702

There is some problem with the HackerEarth API which is being used on the
backend of HackIDE. I have informed their CTO about this issue. Hoping to
get it resolved soon. You should be able to use it in a while.

Sorry fort he inconvenience.

On Tuesday 17 May 2016, hsyoon702 <notifications@github.com> wrote:

--
Regards
*Sahil Dua*
Netaji Subhas Institute of Technology, New Delhi
Co

[2016-05-17 02:27] hsyoon702 commented on #20
Thanks to infrom me @sahildua2305, @prankymat .

I hope it recover soon.
If their CTO send mail to you, would you tell me in this issue board?

Thnak you!

[2016-05-17 02:31] sahildua2305 commented on #20
Yes, I'll definitely do that.

On Tuesday 17 May 2016, hsyoon702 <notifications@github.com> wrote:

--
Regards
*Sahil Dua*
Netaji Subhas Institute of Technology, New Delhi
Connect on LinkedIn <http://in.linkedin.com/in/sahildua2305>
*www.sahildua.com <http://www.sahildua.com>*

[2016-05-17 04:11] sreeram-boyapati commented on #20
Hey, I work at HackerEarth. We got the issue fixed. It will not repeat again. Nice project btw :)

[2016-05-17 04:13] hsyoon702 commented on #20
Thanks it works!
Thank you all of you!

[2016-05-17 13:31] sahildua2305 commented on #20
Thanks @sreeram-boyapati :)

[2016-05-17 13:56] #20 closed

[2016-05-17 14:18] sahildua2305 opened #21 "Compile/Run not working again"
@prankymat Can you please check the issue once? Is it working on local? I am a bit occupied with exams at the moment.

[2016-05-17 17:25] sahildua2305 commented on #21
Ignore, there is an issue with HackerEarth API again. This is becoming too frequent now. I'll talk to them.

[2016-05-19 19:10] #21 closed

[2016-05-20 06:38] hsyoon702 opened #22 "Hi, it's me again. Run function doesn't work again."
Hi, it's me again. Run function doesn't work again.

Please check it.

Thank you.

[2016-05-20 19:27] sahildua2305 commented on #22
Hi @hsyoon702 It's working now. Please check :)

[2016-05-20 19:30] #22 closed

[2016-05-21 11:47] hsyoon702 opened #23 "Hi, @sahildua. It happens again"
I don't know what is the probelm.

Compile function and run function work, and does not repeatedly.

It is very serious problem I think.

How do we do?

[2016-05-24 05:37] hsyoon702 commented on #23
it is doing well again.
Thank you.

[2016-05-24 07:40] #23 closed

[2016-06-06 15:41] sahildua2305 opened #24 "Download code as a .zip file"
Use some library like JSzip to convert the code file into a .zip one and then start download.

[2016-06-08 16:00] mananpal1997 commented on #13
Why not use PostgreSQL?

[2016-06-08 16:39] sahildua2305 commented on #13
Exactly, why not?
No issues with using PostgreSQL, @mananpal1997. In fact I have been thinking about using it and provide the mentioned feature. Unable to find time recently. Are you up for this?

[2016-06-08 17:14] mananpal1997 commented on #13
I'll give it a try. :)

[2016-06-09 07:08] mananpal1997 commented on #24
Please see the pull request regarding it. :)

[2016-06-13 17:01] sahildua2305 commented on #24
@mananpal1997 Did you update your PR?

[2016-06-14 04:57] mananpal1997 commented on #24
@sahildua2305 No, I haven't made much changes since the last pull.

[2016-06-14 06:28] sahildua2305 commented on #24
Do you need help in completing this? Are you still interested?

On Tuesday 14 June 2016, Manan Pal Singh <notifications@github.com> wrote:

--
Regards
*Sahil Dua*
Netaji Subhas Institute of Technology, New Delhi
Connect on LinkedIn <http://in.linkedin.com/in/sahildua2305>
*www.sahildua.com <http://www.sahildua.com>*

[2016-06-14 11:44] mananpal1997 commented on #24
@sahildua2305  Yes,I'm. Not much. I think I can do it....

[2016-06-14 11:48] sahildua2305 commented on #24
Have you installed HackIDE on your local machine?

[2016-06-16 10:42] mananpal1997 opened #27 "Settings dropdown-menu not closing after losing focus"
Remains open all the time. Got to click again on it to close it down.

[2016-06-16 12:00] sahildua2305 commented on #24
Pushed live at http://hackide.herokuapp.com/. Works great!

Thank you @mananpal1997. Good work! Make sure you test the changes on the live version as well.

[2016-06-16 12:00] #24 closed

[2016-06-23 19:31] #27 closed

[2016-07-08 14:49] Mechasparrow commented on #13
Wouldn't this be easier if you used something like pastebin?

[2016-07-21 07:38] jainaka opened #31 "Server couldn't complete request."
Tried running python code on http://hackide.herokuapp.com/

def main():
    print "test"

if __name__ == "__main__":
    main()

Getting following error - Server couldn't complete request. Please try again!

No. of retries: 3
Error reproduce count: 3

[2016-07-21 08:34] mananpal1997 commented on #31
Ran test. It's something with hackerearth api. Showing error 504.

[2016-07-21 10:12] jainaka commented on #31
Okay.
Cannot we give more descriptive response? This looks little generic. Is this returned from hackerearth?

[2016-07-21 10:33] mananpal1997 commented on #31
Yes. When I print the response, I either get empty response or this error:
{"errors": {}, "code_id": "6879d1z", "message": "OK", "run_status": {"status": "CE", "status_detail": "Correct the compilation/syntax errors."}, "compile_status": "Error code: 1200", "web_link": "https://code.hackerearth.com/6879d1z"}
I even tried checking for api version3 but there is also the same error.

[2016-07-21 12:09] mananpal1997 commented on #31
@jainaka Running fine now. API issue has been resolved. You can close the issue now

[2016-07-21 12:56] sahildua2305 commented on #31
@jainaka Thanks for reporting the issue.

@mananpal1997 I think we should make the error message more verbose explaining that it's API's fault and it's temporary. Can you make this change?

[2016-07-21 13:02] mananpal1997 commented on #31
@sahildua2305 sure

[2016-07-21 13:07] sahildua2305 opened #32 "Make API error message more verbose"
I think we should make the error message more verbose explaining that it's API's fault and it's temporary.

For more details: See #31

[2016-07-21 13:07] #31 closed

[2016-07-21 18:36] ardzoht commented on #13
Hi! I can help you with this

[2016-07-21 19:34] sahildua2305 commented on #13
@ardzoht Thanks for offering help! :blue_heart:

However, there is already a PR for this issue #30

[2016-07-26 18:34] mananpal1997 opened #34 "Can't run locally properly"
At first, I would always get **ArgumentError : Client secret missing** even after running with HACKIDE_DEBUG=true.

What's more strange that I just noticed :
I changed the urls in **views.py** from **https://api.hackerearth.com/v3/code/compile/** to **https://api.hackerearth.com/code/compile/** (running with Version2)
If I hit compile now, I get the same **ArgumentError**, but when I hit run, this

[2016-07-27 21:49] sahil865gupta commented on #34
If HACKIDE_DEBUG=true, then CLIENT_SECRET=''". Thats why api is creating this error. So for running on debug mode too, CLIENT_SECRET must be assigned the client secret key on HACKIDE_DEBUG=true too.

[2016-07-27 21:50] sahildua2305 commented on #34
@sahil865gupta is right! Thanks.

@mananpal1997 I thought you were already using the CLIENT_SECRET. Weren't you?

[2016-07-28 04:23] mananpal1997 commented on #34
@sahildua2305 Yes, I was.
Something strange: I reinstalled Ubuntu and now its running fine :D

[2016-07-28 05:34] #34 closed

[2016-08-07 20:13] arijeetmkh commented on #8
@sahildua2305 Couldn't we use some kind of asynchronous task processing library out there (celery, rq) and use their task ids as the unique submission id. Celery's result backend will store this task id along with information about its run state. We could then poll and query if a running task is successful or not still pending.

[2016-08-10 22:18] sahildua2305 commented on #13
Closed via #30

[2016-08-10 22:19] #13 closed

[2016-08-10 22:21] sahildua2305 commented on #8
@arijeetmkh Yes, that can be done. I have never worked with Celery. I will have to look into it. Would you like to give it a shot?

[2016-08-10 22:23] sahildua2305 opened #35 "Tick the custom input checkbox by default if there is custom input in saved code"

[2016-08-11 16:03] sahil865gupta opened #37 "Link generated for viewing old code doesn't contain port number"

[2016-08-11 18:12] mananpal1997 commented on #37
@sahil865gupta Will the port be needed for online deployed app?

[2016-08-11 22:02] sahildua2305 commented on #37
Closed via #38

[2016-08-11 22:03] #37 closed

[2016-08-15 21:58] sahildua2305 commented on #35
Fixed via #36

[2016-08-15 21:58] #35 closed

[2016-08-20 19:26] sahildua2305 opened #39 "Implement profiling system allowing users to make their profiles and saving codes in their profiles"

[2016-08-22 21:55] sahildua2305 opened #40 "Add unit tests"

[2016-09-18 13:36] ankitjain28may commented on #31
I am getting the same issue
{"run_status":{"status":"CE","status_detail":"Correct the compilation\/syntax errors."},"compile_status":"Error code: 1200","web_link":"https:\/\/code.hackerearth.com\/633a3fj","code_id":"633a3fj"}

[2016-10-15 09:16] yemarnevets commented on #40
Hi sahidula, What is an endpoint in this context? I am looking to get involved with open source projects but I am still quite new. I am very familiar with Git, so version control shouldn't be an issue. Can you please point me in the right direction for getting started with adding unittests for this project? Thanks.

[2016-10-17 03:44] bronwynbiro commented on #32
I'm new to open source but would like to work on this if that's okay! Do we want to simply say the error is from Hackerearth API and is temporary or do we want to show the status detail that the error returns, i.e. "correct the compilation/syntax errors"?

[2016-10-19 11:08] mananpal1997 commented on #40
@yemarnevets Just check for 2xx, 4xx and 5xx response, if any, from the HackerEarth API for some sample input.
@sahildua2305 Am I right?

[2016-10-19 11:10] sahildua2305 commented on #40
I'm not sure @mananpal1997

Probably what I wanted is to write tests to ensure quality of this project not for validation of HackerEarth's API validation. We should have tests in this project so that we can make sure new contributions aren't breaking anything. I'd encourage you to research on this a bit with @yemarnevets regarding what will be the best way to implement this.

[2016-10-23 01:10] fadc80 opened #42 "ImportError: No module named 'mongoengine'"
I'm a python newbie trying to run this project with python3...

**$ python3 manage.py collectstatic**

The following error is being reported:

[code]

What am I doing wrong?

I have installed these packages:

**$ pip freeze**

[code]

I couldn'it figure it out.

Thank you.

[2016-10-24 17:20] fadc80 commented on #42
I've found it! Before running the server try...

`pip install -p requirements.txt`

[2016-10-31 18:30] #42 closed

[2016-10-31 18:31] sahildua2305 commented on #40
@mananpal1997 @yemarnevets Any update on this?

[2016-11-15 00:00] sahildua2305 commented on #32
@bronwynbiro sorry for late reply. Are you still interested in tackling this issue?

[2016-11-23 15:38] lawfets commented on #32
It would be my first time, but with some help I think I should manage

[2016-11-23 15:42] sahildua2305 commented on #32
@lawfets thanks for your interest in contributing to HackIDE.

Regarding this issue, it should be an easy one. We want to show better error messages to users in case API calls to HackerEarth fails. Please look into the main javascript file to find `fail` methods in ajax requests.

[2016-11-23 15:47] lawfets commented on #32
I'll check it out

[2016-11-23 16:17] lawfets commented on #32
where can I find the main javascript file?

[2016-11-23 17:06] sahildua2305 commented on #32
Here - https://github.com/sahildua2305/hackIDE/blob/master/hackIDE/static/hackIDE/js/custom.js#L309

This is the error message we show if API request fails. We should be able to see the response and show the message according to the response message.

[2016-11-23 17:17] lawfets commented on #32
what should I write?
This is an API request failure, this should only be temporary.
{"errors": {}, "code_id": "6879d1z", "message": "OK", "run_status": {"status": "CE", "status_detail": "Correct the compilation/syntax errors."}, "compile_status": "Error code: 1200", "web_link":

btw how do I adapt the file, do i fork it and than make a pull request?

[2016-11-23 17:19] sahildua2305 commented on #32
Depends. Can we see what error message is returned from the API request. It may also be a timeout. You will need to investigate how we can check what caused an Ajax request to fail.

Yes, right!

[2016-11-23 17:56] lawfets commented on #32
I don't think I can do anything at the moment as the original bug seems to be fixed and hacker earth has no bug with code_id": "6879d1z. So I cannot replicate any failures.

[2016-11-23 18:13] lawfets commented on #32
I did find someone else with equal problem on github with a compiler but no answer there.
https://github.com/codehimanshu/compiler/issues/4  also in connection with Hackerearth

[2016-11-24 18:31] lawfets commented on #32
Is there anything I'm missing I should do to try to solve this issue

[2016-11-24 20:17] sahildua2305 commented on #32
@lawfets you need to do some search regarding what kind of response do we get when Ajax request fails. You will need to read a bit about Ajax for this. Accordingly, we can then handle the error cases.

[2016-11-26 08:33] adi8 commented on #32
I would be interested in working on this issue. Is this issue assigned to @lawfets ?

[2016-11-26 13:30] lawfets commented on #32
feel free to hop in adi8, I'm still in learning mode for AJAX so at the moment, nothing I can do

[2016-11-26 13:35] adi8 commented on #32
Cool. I have a pretty good idea of what to do. Would like to know from @sahildua2305 what is exactly expected. You see I'm also a new to open source projects.

[2016-11-26 14:12] sahildua2305 commented on #32
@adi8 Check this issue - https://github.com/sahildua2305/hackIDE/issues/31#issuecomment-234212904

Should be an easy fix.

[2016-11-27 08:35] adi8 commented on #32
This issue is very difficult to replicate. Based on the info that I could gather on HackerEarth API documentation(https://www.hackerearth.com/docs/api/developers/code/legacy/) and the #31 issue I made some changes in javascript. I'll issue a pull request.

[2016-12-27 05:50] aboglioli commented on #40
If a make some time, I will collaborate with unit testing :grinning:

[2016-12-27 20:13] sahildua2305 commented on #40
@aboglioli That'd be great! Let me know if you need help

[2017-01-11 16:41] ChauTNguyen commented on #40
Hello, can I give this a try?

[2017-01-11 19:27] sahildua2305 commented on #40
@ChauTNguyen Sure 🙂

[2017-01-11 22:33] ChauTNguyen commented on #40
@sahildua2305

https://gist.github.com/ChauTNguyen/13ebafa8ea4f450ce40575bca3f78034

Hi, I'm working on it. However, I wanted to know if I'm starting it out correctly for this project, so I written just a few basic unit tests.

dependencies: selenium 3.0.2

I started out by covering:
- loading the site, and compiling to see if the UI works properly (ex: Compile Status: OK)
- loading the site, givi

[2017-01-12 11:24] sahildua2305 commented on #40
@ChauTNguyen looks good. Can you please create a PR for the same?

[2017-02-26 07:19] the-realtom commented on #8
@sahildua2305 what are the benefits of an async request to the hackerearth api? I'm assuming the only api calls are to the /compile and /run endpoints only. Is it the fact that multiple sync calls will cause noticeable blocking when the usage is high? I wouldn't mind taking this up btw.

[2017-02-26 13:19] sahildua2305 commented on #8
Hey @the-realtom, having async requests to the API will make the application more reliable as that will also reduce the load on HackerEarth's API. I talked to HackerEarth engineers and they suggested me to have async requests.

Would love to see your PR 👍

[2017-03-21 06:12] anusha94 commented on #39
i'd like to contribute to this enhancement :)

[2017-03-24 08:20] aditya999123 commented on #31
The API returns error 500
when input is large around 5 MB

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>500 Internal Server Error</title>
</head><body>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error or
misconfiguration and was unable to complete
your request.</p>
<p>Please contact the server administrator at
 [no address given] to inform them o

[2017-04-06 22:00] ytpillai opened #45 "PHP phpinfo log viewable"
I ran a phpinfo(); on the PHP tab of hackIDE, got some information on your PHP version and OS details along with other things enabled and disabled.

Haven't exploited anything or tried testing out any vulnerabilities yet, but it's probably best that you disable this on the PHP installation. @sahildua2305

[code]

[2017-04-06 22:12] sahildua2305 commented on #45
@ytpillai Thanks for reporting this! ❤️

I'll fix this soon.

[2017-04-13 11:34] PansulBhatt commented on #8
@sahildua2305  Your calls already look like they are asynchronous. Is there something that I am missing here. I was trying to contribute but while reviewing found that the call to compile (custom.js line:235) I found that this was already async.

[2017-04-14 13:08] the-realtom commented on #8
@PansulBhatt You were looking at the client Javascript calls to the Django server. The requests from the server to the hackerearth API compile/run endpoints is what the issue is referring to.

[2017-04-14 17:29] sahildua2305 commented on #8
Exactly, @the-realtom 👍

[2017-04-23 04:32] moghya commented on #39
this is nice it's just that heroku doesn't allow to host static files and this particular feature will need it.
we can simple use django.model and create models as User and Code . Can be done easily :)

[2017-04-23 15:00] sahildua2305 commented on #39
@anusha94 and @moghya, thanks for your interest in this issue, however, there is already work going on wrt this issue. Feel free to explore the other open issues! 👍

[2017-05-20 00:03] jarroyo3 opened #47 "Java files don't match with public class"
Hello, I'm new on open source.

Do you think that is good idea save Java files make it matched with the public class name?

[2017-05-20 08:40] sahildua2305 commented on #47
Hi @jarroyo3, thanks for opening the issue!

I'm not a Java person myself. What do you think is the problem and how would you like to solve it?

[2017-05-20 10:22] jarroyo3 commented on #47
Hi!

As far as I know about Java, when the code includes something like "public class Something", the file must be named like the class name. In this case, the file must be named Something.java.

.java file can only have one public class and it should be named as same as the .java file.

When I download a java program from hackIDE, the file is named code.java

I thought that could be a good idea (

[2017-05-20 10:26] sahildua2305 commented on #47
Definitely, feel free to create a pull request with your changes. 👍

[2017-06-05 22:53] PrathameshPalaskar commented on #40
Hello, I am new to open source. Can I contribute to issue #44 ?

[2017-06-06 17:10] sahildua2305 commented on #40
@PrathameshPalaskar welcome. Thanks for showing interest to contribute to this project.

As you can see there's already a pull request for this issue. Do you have any extra ideas about how you would want to do this?

[2017-06-08 21:00] sahildua2305 commented on #47
Fixed via #48

[2017-06-08 21:00] #47 closed

[2017-06-17 12:09] hesamnobari commented on #42
I have trouble with requirements module models!
I've installed mongoengine

[2017-06-17 12:29] sahildua2305 commented on #42
@hesamnobari what trouble exactly?

[2017-06-17 13:43] hesamnobari commented on #42
ImportError: No module named 'models' ( for running server )

NameError: name 'long' is not defined

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-b5qxso6e/models/

( when use  pip install models)

[2017-06-17 13:50] hesamnobari commented on #42
pip install models
Collecting models
  Using cached models-0.9.3.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-b5qxso6e/models/setup.py", line 25, in <module>
        import models
      File "/tmp/pip-build-b5qxso6e/models/models/__init__.py", line 24, in <module>

[2017-07-05 15:55] KylerSmith opened #51 "Create a download dialog box for naming file download."
### Description

On click of the download button, automatically downloads as test.zip.

### Steps to Reproduce

1. Click download.

**Expected behavior:**
Should ask what the file should be named.

**Actual behavior:**
Downloads as test.zip.

**Reproduces how often:**
100%

### System version

macOS Sierra 10.12.5

[2017-07-05 21:18] sahildua2305 commented on #51
Thanks for opening this issue, @KylerSmith. Would you like to submit a pull request for it?

[2017-07-06 15:51] samwincott commented on #51
I'd quite like to take this on, if that's ok?

[2017-07-06 15:52] sahildua2305 commented on #51
@samwincott thanks for showing interest in contributing. Feel free to take on. it's yours!

[2017-07-06 22:15] #51 closed

[2017-07-27 21:06] Bilalharoon commented on #32
I am new to open source but I would like to contribute

[2017-08-15 14:26] MasteMind commented on #8
It says i need the client token for the ide to show up, when running in local. How can i get that?

[2017-08-15 14:43] sahildua2305 commented on #8
@MasteMind You can get it [here](https://www.hackerearth.com/login/?next=/api/register/).

[2017-08-28 05:52] vinibiso commented on #8
Hello! I'm looking to contibute, I think I can tackle this. @the-realtom are already on it? If so if you need any help? I'm here from Up For Grabs.

Also I have to say this would technically be my first PR to a Open Source project so if you don't want a first timer with the whole PR thing I understand. I have worked with django for 3 years now if that's worth anything 😛.

[2017-08-28 07:23] sahildua2305 commented on #8
@vinibiso absolutely welcome here! Thanks for showing interest in tackling this issue. Please feel free to open a PR once you have something.

[2017-08-28 20:51] vinibiso commented on #8
Hey @sahildua2305 sorry to bother but, while trying to run collect static, or straight up runserver it gives me the following:

`No module named whitenoise.django`

That's after creating my virtualenv and installing all the requirements.
I also checked just to see and it seems to be installed. Have you run into this issue before?

`collecting whitenoise==2.0.6
  Using cached whitenoise-2.0.6-py2.p

[2017-08-28 20:53] sahildua2305 commented on #8
@vinibiso hi!

No, I have not faced this issue. Did you check about it online?

[2017-08-28 21:01] vinibiso commented on #8
Never mind. It seems as tho my virtual env skip a couple of key packages from the requirements for some reason.

Now I just getting a Bad Request. But I'll figure it out. Ty!

[2017-08-29 03:12] vinibiso commented on #8
Just to leave a little bit of a progress report here.

I manager to figure out how to make the request assync.
However, like mentioned before, we will need celery and a broker, in my case I'm using Redis.

I have it all setup and configured now I just have to implement the two request functions as tasks and I believe it will be done.

[2017-08-29 21:01] vinibiso commented on #8
@sahildua2305 I think it's done. It's gonna be a little tricky to test however because of the new requirements and as well as the fact that it only get's client secret when debug is not on.

While doing it and taking a look at the API, do we really need django to do this? Couldn't we just use JS to request? Is it because of client_secret?

[2017-08-29 21:37] sahildua2305 commented on #8
@vinibiso You're right. Plus I am not 100% convinced that I want this feature to be there as the API has been pretty much stable for some time now.

[2017-08-29 23:24] vinibiso commented on #8
Hey @sahil865gupta I think it's done, if you wanna take a look.

Right. It makes sense. Honestly looking at how celery works, I don't know if it's actually worth the whole redis, celery setup on the server if not much will change.

I made the changes more as a personal challenge because I had never worked with Celery before.

A good idea would be to try and make some tests and compare before and a

[2017-10-12 20:01] melvyniandrag opened #55 "Improve compilation error message"
Attached see a CE message when I try to use a java ByteBuffer without importing it. I'm guessing CE means "Compilation Error". It would be nicer for it to say Compilation Error and if possible to indicate what and where the error is. I'm not sure if this is the same thing you are talking about in #32.

![ce](https://user-images.githubusercontent.com/17210565/31516377-5cecd564-af66-11e7-9622-8003cd

[2017-10-13 04:15] #55 closed

[2017-10-13 04:32] melvyniandrag opened #56 "Port to django 1.11"
1.9 support ended in April, how about porting this app to 1.11?
The app uses MySQL-python 1.2.3 which was last released in early 2014: https://pypi.python.org/pypi/MySQL-python/1.2.5, there is another more current library https://github.com/PyMySQL/PyMySQL but I don't know anything about MySQL or the library. This would enable moving to python3 too, because python2 is retiring soon!
I'm just looki

[2017-11-05 18:18] sahildua2305 commented on #56
Hi @melvyniandrag, are you still interested in working on this?

[2017-11-14 02:36] sroy8091 commented on #56
I am interested in porting this to django 1.11

[2017-11-15 19:30] melvyniandrag commented on #56
It seems to be working for me with only changing the requirements file. I'm not going to have any free time  for the next few weeks because of work and holidays, @sroy8091  you can have it.

[2018-03-27 10:27] iamsudip commented on #31
@sahildua2305 If you can migrate to async version of the version 3 code API, then we can assure you the uptime of code evaluation. We do not maintain version 2 API and synchronous version of version 3 API.

[2018-05-02 20:48] wskinner74 opened #58 "Could not create compile log file for stdout"
On the live version of the site, when trying to compile a simple hello world script in Python, I get the following error:
`Could not create compile log file for stdout`

I've also gotten compile failures in other languages, but there is no text with the compile error.

[2018-05-03 20:29] laviii commented on #58
@wskinner74
me not able to compile any code of python, even which not write on output stream.

As i am new to this project, but i did some of digging after reading the code.

import requests, json, os

source = 'print = "hello"'
COMPILE_URL = "https://api.hackerearth.com/v3/code/compile/"

compile_data = {
        'client_secret': "my secret key",
        'async': 0,
        'source': source,

[2018-05-04 06:05] arasouli91 opened #59 "Not working at all"
I go to http://hackide.herokuapp.com/ and it gives me a compile error every time with the default code or if I changed it. I tried on Firefox and MS Edge. Nothing in the web console.

[2018-06-29 16:08] IsFlwrs commented on #59
Hi

I tried to the same steps like @arasouli91  and i got it the same result:

Python script input:
![screen shot 2018-06-29 at 11 07 21 am](https://user-images.githubusercontent.com/32315095/42102797-afde59ee-7b8c-11e8-9ced-cacddc11a3a5.png)

Output:
![screen shot 2018-06-29 at 11 06 55 am](https://user-images.githubusercontent.com/32315095/42102839-c718a858-7b8c-11e8-8db2-6a6584c144c1.png)

![sc

[2018-07-24 10:28] binaryman008 opened #60 "couldn't run the server"
HE_CLIENT_SECRET=your_token_here python manage.py runserver   ( i enteered my token here).... but it couldn't run. the error below is showing:
![sdsd](https://user-images.githubusercontent.com/30907471/43132753-5ce8f6cc-8f5a-11e8-95bd-a1a29563d441.png)

'HE_CLIENT_SECRET' is not recognized as an internal or external command,
operable program or batch file.

[2018-08-08 19:28] immayanku opened #61 "issue with python version"
please tell me ,is this project is only for python version <3 or python 3 users can also access this,
i am getting so much confused ,please also clear me the requirements for python 3.

[2018-09-03 15:33] ranjan-purbey commented on #58
It's most probably an API error, because the error is not consistent. Sometimes it runs alright, and sometimes it fails.

[2018-10-10 19:33] adesgautam opened #62 "Issue with requirements"
The requirements are giving errors during installation.

[2018-10-12 16:12] Nayan-Das commented on #32
@sahildua2305 I want work on this issue it is not already solve.Should I take this up?

[2018-11-27 18:03] ulshell commented on #59
I am getting the same

[2019-05-14 08:23] mohit741 commented on #60
Hello @binaryman008 Can you give pointers about how can I start working in it? p.s. New to open source contributions

[2019-10-02 09:58] manavendrasen commented on #32
I would like to work on this is this still open?

[2019-10-06 18:20] pooka96 commented on #62
can you share the error log snippet?

[2020-04-11 15:33] MD15 opened #72 "Bug PHP Code Injection"
Hello, i found PHP Code injection
![image](https://user-images.githubusercontent.com/36522826/79047844-783ae480-7c43-11ea-960e-7eab367447c2.png)
Iam using system() function in PHP to test it, when run simple php code injection payload
`<?php
system('cat /etc/passwd');
?>`
The output will be like this
![image](https://user-images.githubusercontent.com/36522826/79048015-59891d80-7c44-11ea-8862-43d3d

[2020-04-23 10:51] Khangerel commented on #62
ERROR: Command errored out with exit status 1:
     command: /Users/khangerel/workspace/hackIDE/virtualEnvs/hackIDE_venv/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/_f/4f8w05hs6r364gpb2tn1x8n40000gn/T/pip-install-TE3AYz/Pillow/setup.py'"'"'; __file__='"'"'/private/var/folders/_f/4f8w05hs6r364gpb2tn1x8n40000gn/T/pip-install-TE3AYz/Pillow/setup.py'"'"'

[2020-06-12 17:41] The-Nightwing commented on #61
Can you please explain where you are stuck?

[2020-07-09 04:58] Kamrulhasan12345 opened #74 "Should not it be upgraded to the django latest version"
It is sorry to say but nowadays many hosting does not support py2.7 and not previus django versions. So pls you guys upadye tjis to python 3?

[2020-09-29 14:26] MohammedBajuaifer commented on #32
Would like to work on this issue, is it still open?

[2020-09-29 17:00] sahildua2305 commented on #8
@vinibiso it's been 3 years and I am convinced that we should switch to async version of HackerEarth API. Are you still up for taking this on?

[2020-09-29 17:02] sahildua2305 commented on #32
Yes, after staying on snooze for a while, it's up for grabs again.

[2020-09-29 17:02] sahildua2305 commented on #74
Yes, indeed. Do you want to take this on?

[2020-09-29 17:04] sahildua2305 commented on #62
Not able to reproduce this anymore. Please feel free to re-open if this is still an issue.

[2020-09-29 17:04] #62 closed

[2020-10-01 06:02] SehejBakshi commented on #74
@sahildua2305  I would like to take this up please.

[2020-10-01 07:52] Git-Harshit commented on #61
The main issue, in my opinion, is that the current live version of [HackIDE](http://hackide.herokuapp.com/) supports just Python v2, and does not include any option to switch to Python v3 Language. As on the time of this comment, Python v2 has now already reached end of support from the community. So, it'd be great if Python v3 IDE is also added as an option in the HackIDE.

[2020-10-03 06:48] KirttiVushan commented on #74
I would like to work on it.

[2020-10-03 08:43] SehejBakshi commented on #74
@sahildua2305 I've upgraded the program to include python3 and django 2.2.7 support and also added python3 language support in the main ide. It works perfectly in the debug environment. However, when I try to run it with the `$HE_CLIENT_SECRET=your_token_here python manage.py runserver` command, it fails to show me the static files on the browser. Could you please help me out on this?
Also, can I

[2020-10-03 10:08] SehejBakshi opened #76 "Python3 support"
@sahildua2305  I've upgraded the program to include Python3 and Django 2.2.7 support and also added Python3 language support in the main ide. It works perfectly in the debug environment. However, when I try to run it with the `$HE_CLIENT_SECRET=your_token_here python manage.py runserver` command, it fails to show me the static files on the browser. Could you please help me out on this?
Also, can I

[2020-10-07 03:28] #76 closed

[2020-10-18 02:54] sahildua2305 commented on #40
Re-opening this because the PR https://github.com/sahildua2305/hackIDE/pull/44 was never submitted and this is likely up for grabs.

[2020-11-08 20:36] hermanzdosilovic opened #78 "Newer compilers and interpreters"
Hi @sahildua2305,

just reaching out to tell that with [Judge0](https://github.com/judge0/judge0) you could have support for newer compilers and interpreters, but also easily add support for more than 60 languages. :)

[Here](https://github.com/hermanzdosilovic/online-compiler/blob/master/index.html) is the example of the client-side integration.

Let me know if there is anything I could do on my

[2021-01-30 05:40] chandhu455 commented on #32
@sahil865gupta  can i look into this issue? Is this still valid one?

[2021-05-16 15:48] Wahib13 opened #82 "Addition of docker"
mainly suggesting this to help new users get up and running quickly.
it also makes the app cloud ready. I'm willing to take this up

[2021-05-17 13:41] sahildua2305 commented on #82
Hi Wahib, feel free to take this on. Let me know once you have some CL for me to try.

[2021-05-17 19:14] Wahib13 commented on #82
cool. quick question, what's CL?

[2021-05-18 14:50] sahildua2305 commented on #82
I'm sorry for the confusion. I wanted to say PR (Pull Request).

[2021-05-31 13:49] Wahib13 commented on #82
Hi Sahil, I've created a pull request for this. Kindly take a look

[2021-06-06 14:32] Wahib13 commented on #82
Hi @sahildua2305 have you been able to take a look at this yet?

[2021-08-24 05:14] StealthX2k20 opened #87 "Feature to save code written in a language while switching to another language"
User's code on one language gets erased on switching to another language.
I'm willing to take this up.

[2021-08-24 23:56] sahildua2305 commented on #87
Thanks for creating this issue. Sure, feel free to take this on. It would be nice to discuss what you have in mind before you create a Pull Request.

[2021-08-25 05:30] StealthX2k20 commented on #87
Sure, the approach is pretty basic, here's what I think :
1) We can save a key-value pair in local-storage where key corresponds to the chosen language and value corresponds to the
     currently written code.
2) Every time when the user tries to switch the language we can render the code if its present in the local-storage otherwise we
    can render the default boiler plate of that language.

[2021-08-27 18:13] StealthX2k20 commented on #87
Hi @sahildua2305 ,
Please review my PR for the mentioned issue. Let me know if any changes are required. :)
Thanks.

[2021-10-15 11:42] arvind2221994 commented on #40
Is this issue still open? I would like to contribute with some unit tests.

[2022-04-06 09:08] ivandev-81 commented on #74
Hi, Is this still open? I want contribute

[2022-04-06 09:08] ivandev-81 commented on #87
Hi, Is this still open? I want contribute

[2022-04-08 10:54] parimalakettymuthu commented on #32
@sahildua2305  -- Is this issue still open ?

[2022-04-09 09:46] soham-sagade commented on #32
is this open?

[2022-09-28 02:19] dhruvinorbit commented on #74
can contribute in this to upgrade this to Django 4

[2022-09-30 17:41] Sophyia7 commented on #32
Hello, is this issue still open? I am new to contributing and would love to take it on?

[2022-10-02 14:34] gultar commented on #72
It seems like this issue is not reproducible or has been resolved.

[2022-10-08 17:33] 0xClint commented on #32
Is this issue solved?